aws_profile  = "skn26_final"
aws_region   = "us-east-1"
env          = "dev"
bucket_base_name = "lovv-data-pipeline"
domain_dynamodb_table_name = "TourKoreaDomainData"
vector_bucket_name = "lovv-vector-dev"
kr_vector_index_name = "kr-tour-domain-v1"
